/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');

body {
    background-color: aliceblue;
}

header {
    
}

nav {
    background-color: #6B6589;
    color: #d1ad8b;
    text-decoration: none;
    font-family: 'KoHo', sans-serif;
}

footer  {
    background-color: #6B6589;
}