/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*root*/
:root {
    --main-color: #201f1d; 
    --accent-color: #CB9B17;
    --text-color: rgba(255, 255, 255, 25);
}

body {
    background-color: rgba(255, 255, 255, 25);
    margin: 0;
}

h1 {
    color: var(--accent-color);
    font-family: 'KoHo';
}

h2, h3, h4, h5, h6 {
    color: var(--accent-color);
    font-family: 'Roboto';
}

p {
    color: var(--main-color);
    font-family: 'Roboto';
}

a {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Roboto';
    cursor: pointer;
    transition-duration: 0.3s;
}

a:hover {
    color: var(--text-color);
    transition-duration: 0.3s;
}

/*social balk*/
.altlogo {
    position: absolute;
    left: 1rem;
    top: 8px;
}

.altlogo img {
    height: 60px;
}

.social {
    height: 50px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-evenly;
}

.social a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas, .fab {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.hidden {
    display: flex;
}

/*logo/img/slogan*/
.logo-img {
    height: 300px;
    text-align: center;
    background-image: url(../images/pexels-mareefe-672046.jpg);
    background-size: 100%;
    background-position: center;
}

.logo-img img {
    margin-top: 2.5rem;
}

.slogan p {
    font-family: 'KoHo', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: var(--main-color);
}

/*Main navigation*/
nav {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

nav, nav a {
    display: none;
}

nav a {
    margin: 0 4rem 0 4rem;
    text-transform: uppercase;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.active {
    color: var(--text-color);
    text-decoration: overline;
}

/*Side navigation*/
.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
    transition: 0.5;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 10px 10px 32px;
    text-transform: uppercase;
    font-family: 'KoHo', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    display: block;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
    margin-left: 50px;
}

.sideclick {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--accent-color);
    cursor: pointer;
}
 .sideclick .fas {
     font-size: 1.8rem;
 }

/*main*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 3rem 0;
}

.main1 {
    width: 80%;
    text-align: center;
    margin-bottom: 2rem;
}

.main2 {
    text-align: center;
    width: 80%;
}


/*Footer*/
footer {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section {
    margin: 2rem 0 2rem 0;
    text-align: center;
}

footer h3 {
    color: var(--text-color);
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footcontact a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

footer iframe {
    width: 100%;
    height: 250px;
    margin: 2rem;
    border: 0;
}

/*Responsive*/
@media screen and (min-width: 768px) {   
    
}

@media screen and (min-width: 1024px) {

    /*Social Balk*/
    .hidden {
        display: flex;
    }

    /*nav*/
    nav, nav a {
        display: flex;
    }

    .sideclick {
        display: none;
    }

    /*footer*/
    footer {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start
    }

    footer section {
        text-align: left;
    }

    .footcontact a {
        justify-content: left;
    }
}

@media screen and (min-width: 1440px) {

}